:root {
    /* Colors */
    --background: #1d1d16;
    --card: #2d2d27;
    --button: #7c7c67;
    --accent: #7bc5b0;
    --text: #fbfbf9;

    /* Shapes */
    --radius-small: 6px;
    --radius-medium: 10px;
    --radius-large: 16px;

    /* Spacing */
    --space-small: 8px;
    --space-medium: 16px;
    --space-large: 24px;

    /* Other */
    --border-width: 1px;
}

/* --- General --- */

* {
    box-sizing: border-box;
}

html {
    font-family: "JetBrains Mono", monospace;
    color: var(--text);
    background: var(--background);
}

body {
    margin: 0;
    min-height: 100vh;
    background: var(--background);
}

button,
input {
    font: inherit;
}

/* --- Containers --- */

.card {
    margin: var(--space-medium);
    padding: var(--space-small);
    background-color: var(--card);
    border-radius: var(--radius-large);
}

/* --- Button --- */